@media (max-width: 800px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .container input {
        width: 90%;
        font-size: 1rem;
        margin-top: 0.3rem;
        padding-left: 1rem;
    }

    .container input::placeholder {
        padding: 1rem;
        color: #1d569b;
        font-size: 1.5rem;
    }

    .container .section-ask {
        width: 100%;
        margin-top: 3rem;
    }

    .container .section-ask p {
        margin-top: 10rem;

    }

    .container .section-ask .div-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .container .section-ask .btn-container {
        width: 90%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .container .section-response {
        width: 90%;
        padding: 2rem;
    }

    .container .section-response .first-paragraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .container .section-response .second-paragraph {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    #img-section-response {
        display: none;
    }

    #btn-section-response,
    #btn-section-response-refresh {
        width: 50%;
        height: 30px;
        font-size: 0.9rem;
        margin-top: 0.5rem;

    }

}